*{
    box-sizing: border-box;
}
.bro1{
    text-align: center;
    line-height: 1.6em;
    color: lightcoral;
}
body{
    background-color: #ded1bd;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.6em;
    margin: 0;
}
.box-a{
    background-color: beige;
    color: black;
    margin-top: 1em;
    border-width: 6px;
    /* border-top-style: dotted ; */
    border-radius: 1rem;
    padding: 2%;

}
.container{
    width: 80%;
    margin: auto;
    margin-bottom: 55px;
}

.box-a h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: black;
    /* word-spacing: 0.1em; */
}
.box-b{
    border-radius: 2rem;
    background-color: beige;
    padding: 60px;
    margin: 4em 0;
}
.categories{
    border: 4px solid rgb(0, 0, 0);
    border-radius: 15px;
    
}
.categories ul{
    text-decoration: none;
    list-style-type: none;
}
.categories a{
    text-decoration: none;
    font-size: larger;
}
.categories a:hover{
    color: lightblue;
}
.categories h3{
    text-align: center;
}
.categories li{
    /* list-style-image: url(./images.jpeg); */
    padding-bottom: 10px;
}
.frm{
    padding: 20px;
}
.frm .form-group{
    padding-bottom: 14px;
}
.frm label {
    display: block;
}
.frm input{
    padding: 8px;
    width: 100%;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.frm textarea{
    padding: 8px;
    width: 100%;
}
.frm .submit-butt{
    width: 40%;
    color: white;
    background-color: black;
    margin-left: 25em;
    cursor: pointer;
    border-radius: 15px;
}
.frm textarea{
    margin-bottom: 40px;
}
.submit-butt:hover{
    background-color: lightgreen;
}
.ser{
    background-color: beige;
    color: black;
    width: 20%;
    cursor: pointer;
    border-color: beige;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.ser:hover{
    background-color: lightgreen;
}
.row{
    width: 100%;
    margin: auto;
    padding: 0;
}
.block{
    float: left;
    width: 30.33%;
    border: 1px black solid;
    margin: 10px 1.5%;
    margin-bottom: 3em;
    text-align: center;
}
.row-2{
    width: 100%;
    margin: auto;
    padding: 0;   
}
#main-block{
    float: left;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}
#side-bar{
    float: right;
    width: 30%;
    color: white;
    background-color: gray;
    padding: 20px;
    text-align: center;
}