.bro1{
    text-decoration: underline;
    text-align: center;
    line-height: 1.6em;
    color: lightcoral;
}
body{
    background-color: lightgreen;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.6em;
    margin: 0;
}
.box-a{
    background-color: lightcyan;
    color: black;
    border: 5px lightslategrey solid;
    margin-top: 1em;
    border-width: 6px;
    /* border-top-style: dotted ; */
    border-radius: 1rem;
    padding: 2%;
}
.container{
    width: 80%;
    margin: auto;
}